  <!DOCTYPE html>
<html lang="en">

  <head>
  <meta name="google-site-verification" content="gTodUDsE8IbDtyAHn9eWOc541ktHdiaov7pWJFd4A2g" />
    <%= favicon_link_tag asset_path('bblogo.ico'), :rel => 'icon', :type => "image/x-icon" %>
    <%= favicon_link_tag asset_path('bblogo.png') %>
    <%= display_meta_tags %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      
    <%= render 'layouts/google_analytics' %> 
  <!--this analytics thing is a partial, which renders from its own file in the views>layouts folder, the _google_analytics.html.erb. The analytics ID is in the credentials, which I accessed by going in terminal an entering EDITOR="subl" bin/rails credentials:edit -->
  </head>

  <body>
  
  <%= render 'layouts/header' %>

<!--Prettier alert messages-->

    <div class="container-fluid">


    <%= yield %>

    </div>
  </body>
</html>
