  <!DOCTYPE html>
<html lang="en">

  <head>
  <meta name="google-site-verification" content="gTodUDsE8IbDtyAHn9eWOc541ktHdiaov7pWJFd4A2g" />
    <%= favicon_link_tag asset_path('bblogo.ico'), :rel => 'icon', :type => "image/x-icon" %>
    <%= favicon_link_tag asset_path('bblogo.png') %>
    <%= display_meta_tags %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-R6S58KG1WE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-R6S58KG1WE');
</script>
  </head>

  <body>
  
  <%= render 'layouts/header' %>

<!--Prettier alert messages-->

    <div class="container-fluid">


    <%= yield %>

    </div>
  </body>
</html>
